.SubscriptionForm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    &__input, &__button {
        margin: 0;
        padding: 0;
        height: 60px;
        box-sizing: border-box;
    }
    &__input {
        border: solid #ccc;
        border-width: 1px 0 1px 1px;
        border-radius: 3px 0 0 3px;
        outline: none;
        padding: 0 19px;
        flex-grow: 1;
    }
    &__button {
        flex-shrink: 0;
        border-radius: 0 3px 3px 0;
        border: 1px solid var(--color-accent-dark);
        background-color: var(--color-accent-dark);      
        color: white;
        padding: 0 39px 0 19px;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        background-image: url('../../../resources/button-arrow.svg');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 22px;
        transition: background-color 150ms, border-color 150ms;
        &:hover {
            cursor: pointer;
            background-color: var(--color-accent-dark-hover);
            border-color: var(--color-accent-dark-hover);
        }
    }
}