.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(25, 25, 25, 0);
    backdrop-filter: blur(0);
    opacity: 0;
    z-index: 1001;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    &__show {
        opacity: 1;
        background-color: rgba(25, 25, 25, 0.4);
        backdrop-filter: blur(16px);
        pointer-events: auto;
    }
    &:hover {
        cursor: pointer;
    }
}