.Header {
    min-height: 105px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__wrapper {
        display: grid;
        grid-template-columns: 95px 1fr 248px;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        max-width: var(--width-container);
        padding: var(--padding-container);
    }
    &__logo {
        width: 95px;
        height: 35px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        background-image: url('../../resources/bello-logo.svg');
        display: block;
    }
    &__navigation {
        &__list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 35px;
        }
        &__item {
            list-style: none;
        }
        &__link {
            text-decoration: none;
            position: relative;
            color: var(--color-text);
            padding: 10px 0;
            &:after {
                content: '';
                position: absolute;
                bottom: 7.5px;
                left: 50%;
                height: 1px;
                width: 0%;
                background-color: transparent;
                transition: all 150ms;
            }
            &:hover {
                color: var(--color-accent);
                &:after {
                    background-color: var(--color-accent);
                    width: 100%;
                    left: 0%;
                }
            }
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 39px;
        &__login {
            @extend .Header__navigation__link;
        }
    }
}