.Mainpage {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #F8F8F8;
    min-height: calc(100vh - 35px);
    &__wrapper {
        padding: 0 20px;
        width: 100%;
        box-sizing: border-box;
    }
    &__title {
        font-size: 24px;
        margin: 25px 0 45px;
    }
    &__projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        width: 100%;
        margin-bottom: 30px;
        @media only screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-gap: 15px;
        }
        &__item {
            background-color: white;
            box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.04);
            transition: all 300ms ease-in-out;
            border-radius: 3px;
            overflow: hidden;
            text-decoration: none;
            display: block;
            &__image {
                height: 300px;
                background-repeat: no-repeat;
                background-position: top left;
                background-size: cover;
                filter: grayscale(90%);
                transition: filter 300ms ease-in-out;
                @media only screen and (max-width: 768px) {
                    height: 300px;
                }
            }
            &__description {
                padding: 25px;
                @media only screen and (max-width: 768px) {
                    padding: 10px;
                }
            }
            &__title {
                font-size: 20px;
                font-weight: 700;
                color: var(--text-color);
                margin: 0 0 15px;
                @media only screen and (max-width: 768px) {
                    margin: 0 0 5px;
                }
            }
            &__caption {
                font-size: 16px;
                line-height: 1.25;
                color: var(--text-color-grey);
                margin: 0;
            }
            &:hover {
                transform: translateY(-10px);
                box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                .Mainpage__projects__item__image {
                    filter: grayscale(0%);
                }
            }
        }
    }
}